Django==1.8.3
PyJWT==1.4.0
defusedxml==0.4.1
django-allauth==0.24.1
docutils==0.12
oauthlib==1.0.3
python3-openid==3.0.9
requests==2.8.1
requests-oauthlib==0.5.0
selenium==2.48.0
six==1.10.0
virtualenv==13.1.2
