{% extends 'posts/base.html' %}

{% block title_addition %}Front Page{% endblock title_addition %}

{% block links %}
<ul id="links">
    {% for link in links %}
    <li class="link">
        <a href="{{ link.url }}" target="_blank" class="link-title">{{ link.title }}</a><br>
        <span class="link-score">{{ link.score }}</span><br>
        <a href="/{{ link.id }}">comments</a>
    </li>
    {% endfor %}
</ul>

<a href="{% url 'submit' %}" class="submit-link">Submit a new link</a>
{% endblock links %}
