<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Parrot - {% block title_addition %}{% endblock title_addition %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>

        <div id="auth">
            {% load account %}
            {% if user.is_authenticated %}
            You are signed in as: {% user_display user %}
            <a href="/accounts/logout/">log out</a>
            {% else %}
            <a href="/accounts/login/">log in</a> or <a href="/accounts/signup/">sign up</a>
            {% endif %}
        </div>

        {% block links %}

        {% endblock links %}

        {% block form %}

        {% endblock form %}

    </body>
</html>
