{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Parrot - {% block title_addition %}{% endblock title_addition %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{% static 'posts/build/css/main.min.css' %}" />
    </head>
    <body class="{% block body_class %}{% endblock %}" id="body">
        <header class="site-header">
            <a href="/">
                <img src="{% static 'posts/build/img/logo_1000.png' %}" alt="parrot logo" id="logo">
                <h1 id="site-title">Parrot</h1>
            </a>
            <nav role="navigation">
                <div id="auth">
                    {% load account %}
                    {% if user.is_authenticated %}
                    You are signed in as: {% user_display user %}
                    <a href="/accounts/logout/">log out</a>
                    {% else %}
                    <a href="/accounts/login/">log in</a> or <a href="/accounts/signup/">sign up</a>
                    {% endif %}
                </div>
            </nav>
        </header>

        <main class="content container">

            {% block links %}

            {% endblock links %}

            {% block comments %}

            {% endblock comments %}
        </div>

        <footer class="site-footer">
        </footer>

        <script src="{% static 'posts/build/js/main.js' %}"></script>
    </body>
</html>
