{% extends 'posts/base.html' %}

{% load mptt_tags %}

{% block title_addition %}Comments{% endblock title_addition %}

{% block comments %}

<h1>Comments for: {{ link }}</h1>

<ul class="comments">
    {% recursetree nodes %}
        <li class="comment" id="{{ node.id }}">
            {{ node.text }}<br>
            {{ node.score }} points
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
            <form class="vote-form" action="/vote_comment/{{ node.id }}" method="POST">
                {% csrf_token %}
                <input class="vote-submit button" type="submit" name="submit_vote_button" value="upvote">
                <input class="vote-submit button" type="submit" name="submit_vote_button" value="downvote">
            </form>
            <form action="/{{ link.id }}/{{ node.id }}/" method="POST" class="comment-form">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                {% endfor %}
                <input class="button" type="submit" value="submit">
            </form>
        </li>
    {% endrecursetree %}
</ul>
{% endblock comments %}
