{% extends 'posts/base.html' %}

{% load mptt_tags %}

{% block title_addition %}Comments{% endblock title_addition %}

{% block comments %}

<h1>Comments for: {{ link }}</h1>

<ul class="comments">
    {% recursetree nodes %}
        <li>
            {{ node.text }}<br>
            {{ node.score }} points
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
        <form action="/{{ link.id }}/{{ node.id }}/" method="post" class="comment-form">
            {% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            {% endfor %}
            <input type="submit" value="submit">
        </form>
    {% endrecursetree %}
</ul>
{% endblock comments %}
