{% extends 'posts/base.html' %}

{% block body_class %}links{% endblock body_class %}

{% block title_addition %}Front Page{% endblock title_addition %}

{% block links %}
<div class="submit-link">
    <h2 class="h3">Submit a new link</h2>

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <p class="error-message">
                    <strong>{{ error|escape }}</strong>
                </p>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <p class="error-message">
                <strong>{{ error|escape }}</strong>
            </p>
        {% endfor %}
    {% endif %}
    <form action="/" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="submit-link-row">{{ field.label_tag }} {{ field }}</div>
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        {% endfor %}
        <div class="submit-link-row"><input class="button" type="submit" value="submit"></div>
    </form>
</div>

<ul id="links">
    {% for link in links %}
    <li class="link" id="{{ link.id }}">
        <a href="{{ link.url }}" target="_blank" class="link-title">{{ link.title }}</a><br>
        <span class="link-score">score: {{ link.score }}</span><br>
        <a href="/{{ link.id }}">comments</a>
        <form class="vote-form" action="/vote_link/{{ link.id }}" method="POST">
            {% csrf_token %}
            <input class="vote-submit button" type="submit" name="submit_vote_button" value="upvote">
            <input class="vote-submit button" type="submit" name="submit_vote_button" value="downvote">
        </form>
    </li>
    {% endfor %}
</ul>
<nav class="pagination">
    <span class="step-links">
        {% if links.has_previous %}
            <a href="?page={{ links.previous_page_number }}">previous</a> | 
        {% endif %}

        <span class="current">
            page {{ links.number }} of {{ links.paginator.num_pages }}
        </span>

        {% if links.has_next %}
            | <a href="?page={{ links.next_page_number }}">next</a>
        {% endif %}
    </span>
</nav>
{% endblock links%}
