{% extends 'posts/base.html' %}

{% block title_addition %}Front Page{% endblock title_addition %}

{% block links %}
<ul id="links">
    {% for link in links %}
    <li class="link">
        <a href="{{ link.url }}" target="_blank" class="link-title">{{ link.title }}</a><br>
        <span class="link-score">{{ link.score }}</span><br>
        <a href="/{{ link.id }}">comments</a>
    </li>
    {% endfor %}
</ul>

<div class="submit">
    <h2>Submit a new link</h2>

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <p>
                    <strong>{{ error|escape }}</strong>
                </p>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <p>
                <strong>{{ error|escape }}</strong>
            </p>
        {% endfor %}
    {% endif %}
    <form action="/" method="post">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        {% endfor %}
        <input type="submit" value="submit">
    </form>
</div>
{% endblock links%}
